In [5]:
import pymongo as mg
import pandas as pd

In [6]:
client = mg.MongoClient(host='mongodb://localhost:27017')

In [7]:
mg.__version__

'3.12.0'

In [8]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [9]:
database = client['db_NHIS']

In [10]:
collection = database['NSC2_BND_M20']

In [11]:
cursor = collection.find({'SICK_SYM1':"I10"})

In [12]:
list_BND_M20 = list(cursor)

In [13]:
list_BND_M20

[]

In [14]:
df_BND_M20 = pd.DataFrame(list_BND_M20)

In [15]:
df_BND_M20

Empty DataFrame
Columns: []
Index: []

In [16]:
# df_BND_M20.to_csv('../../dataset/BND_M20.csv')

In [17]:
df_BND_M20 = pd.read_csv('../../dataset/BND_M20.csv')
df_BND_M20[-10:]

,Unnamed: 0,_id,RN_INDI,BTH_YYYY,DTH_YYYYMM,COD1,EDC_ADD_RT,ED_RC_TOT_AMT,RN_KEY,RN_INST,...,OFIJ_TYPE,OPRTN_YN,MDCARE_DD_CNT,VSHSP_DD_CNT,TOT_PRSC_DD_CNT,MCARE_RSLT_TYPE,EDC_SBA,EDC_INSUR_BRDN_AMT,STD_YYYY,COD2
4619,4619,64e6c8ca19427f4de44761b4,759439,2004,NaN,NaN,0.25,11080,2009020170558,521,...,0,0,1,1,60,1.0,5540,5540,2009,NaN
4620,4620,64e6c8ca19427f4de44761ba,759439,2004,NaN,NaN,0.25,11240,2010081680111,521,...,0,0,1,1,90,1.0,5600,5640,2010,NaN
4621,4621,64e6c8ca19427f4de44761bb,759439,2004,NaN,NaN,0.25,11240,2010050734163,521,...,0,0,1,1,90,1.0,5600,5640,2010,NaN
4622,4622,64e6c8ca19427f4de44763be,314882,2005,NaN,NaN,0.15,10740,2005110384827,110842,...,0,0,1,1,30,1.0,3000,7740,2005,NaN
4623,4623,64e6c8ca19427f4de44763bf,314882,2005,NaN,NaN,0.15,10740,2005051438340,110842,...,0,0,1,1,30,1.0,3000,7740,2005,NaN
4624,4624,64e6c8ca19427f4de44763c0,314882,2005,NaN,NaN,0.15,9050,2005120635229,110842,...,0,0,1,1,30,1.0,3000,6050,2005,NaN
4625,4625,64e6c8ca19427f4de44763c1,314882,2005,NaN,NaN,0.15,9050,2005060585142,110842,...,0,0,1,1,30,1.0,3000,6050,2005,NaN
4626,4626,64e6c8ca19427f4de44763c2,314882,2005,NaN,NaN,0.15,9050,2005070407648,110842,...,0,0,1,1,30,1.0,3000,6050,2005,NaN
4627,4627,64e6c8ca19427f4de44763cb,314882,2005,NaN,NaN,0.15,9380,2006010136092,110842,...,0,0,1,1,30,1.0,3000,6380,2006,NaN
4628,4628,64e6c8ca19427f4de447642a,314882,2005,NaN,NaN,0.15,12280,2010110318764,127359,...,0,0,1,1,30,1.0,1500,10780,2010,NaN

In [18]:
df_BND_M20.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4629 entries, 0 to 4628
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          4629 non-null   int64
 1   _id                 4629 non-null   object
 2   RN_INDI             4629 non-null   int64
 3   BTH_YYYY            4629 non-null   object
 4   DTH_YYYYMM          373 non-null    float64
 5   COD1                314 non-null    object
 6   EDC_ADD_RT          4629 non-null   float64
 7   ED_RC_TOT_AMT       4629 non-null   int64
 8   RN_KEY              4629 non-null   int64
 9   RN_INST             4629 non-null   int64
 10  MDCARE_STRT_DT      4629 non-null   int64
 11  FORM_CD             4629 non-null   int64
 12  MCARE_SUBJ_CD       4629 non-null   int64
 13  SICK_SYM1           4629 non-null   object
 14  OFIJ_TYPE           4522 non-null   object
 15  OPRTN_YN            4629 non-null   int64
 16  MDCARE_DD_CNT       4629 non-null   int64
 17  VSHSP_DD_CNT        4629 non-null   int64
 18  TOT_PRSC_DD_CNT     4629 non-null   int64
 19  MCARE_RSLT_TYPE     4205 non-null   float64
 20  EDC_SBA             4629 non-null   int64
 21  EDC_INSUR_BRDN_AMT  4629 non-null   int64
 22  STD_YYYY            4629 non-null   int64
 23  COD2                21 non-null     object
dtypes: float64(3), int64(15), object(6)
memory usage: 868.1+ KB

In [19]:
df_BND_M20['MCARE_SUBJ_CD'].value_counts()

1     3875
0      415
23     160
5       86
2       29
6       19
19      19
21      15
3        5
4        3
24       3
Name: MCARE_SUBJ_CD, dtype: int64

In [20]:
df_BND_M20_analysis = df_BND_M20[['MCARE_RSLT_TYPE', 'OPRTN_YN', 'VSHSP_DD_CNT', 'TOT_PRSC_DD_CNT', 'EDC_SBA', 'BTH_YYYY']]

In [21]:
df_BND_M20_analysis.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4629 entries, 0 to 4628
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MCARE_RSLT_TYPE  4205 non-null   float64
 1   OPRTN_YN         4629 non-null   int64
 2   VSHSP_DD_CNT     4629 non-null   int64
 3   TOT_PRSC_DD_CNT  4629 non-null   int64
 4   EDC_SBA          4629 non-null   int64
 5   BTH_YYYY         4629 non-null   object
dtypes: float64(1), int64(4), object(1)
memory usage: 217.1+ KB

In [22]:
df_BND_M20_analysis.isnull().sum()

MCARE_RSLT_TYPE    424
OPRTN_YN             0
VSHSP_DD_CNT         0
TOT_PRSC_DD_CNT      0
EDC_SBA              0
BTH_YYYY             0
dtype: int64

In [23]:
df_BND_M20_analysis = df_BND_M20_analysis.dropna().copy()

In [24]:
df_BND_M20_analysis.to_csv('../../dataset/BND_M20_analysis.csv')