In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
mpl.rcParams['axes.unicode_minus'] = False

In [3]:
df_ROS_Analysis = pd.read_csv('../../../datasets/RecurrenceOfSurgeryAnalysis.csv')
df_ROS_Analysis.head(2)

,Unnamed: 0,고혈압여부,과거수술횟수,당뇨여부,신부전여부,심혈관질환,우울증여부,체중,신장,성별,...,수술기법,수술시간,환자통증정도,통증기간(월),수술기법.1,수술시간.1,수술실패여부,재발여부,Instability,디스크단면적
0,0,0,0,0,0,0,0,60.3,163,2,...,TELD,68.0,10,1.0,TELD,68.0,0,0,0,2048.5
1,1,0,0,0,0,0,0,71.7,171,1,...,TELD,31.0,10,1.0,TELD,31.0,0,0,0,1753.1

In [6]:
df_ROS_Analysis_Surgery = df_ROS_Analysis[['Location of herniation', '수술기법', '수술시간', '환자통증정도','통증기간(월)', '수술기법', '수술시간', '수술실패여부', '재발여부', 'Instability', '디스크단면적']]
df_ROS_Analysis_Surgery

,Location of herniation,수술기법,수술시간,환자통증정도,통증기간(월),수술기법,수술시간,수술실패여부,재발여부,Instability,디스크단면적
0,3,TELD,68.0,10,1.0,TELD,68.0,0,0,0,2048.50
1,4,TELD,31.0,10,1.0,TELD,31.0,0,0,0,1753.10
2,3,TELD,78.0,7,1.0,TELD,78.0,0,0,0,1749.00
3,4,TELD,73.0,7,2.0,TELD,73.0,0,0,0,1796.20
4,4,TELD,29.0,7,1.0,TELD,29.0,0,0,0,2021.48
...,...,...,...,...,...,...,...,...,...,...,...
1745,1,TELD,35.0,7,24.0,TELD,35.0,0,0,0,1813.00
1746,4,TELD,60.0,8,36.0,TELD,60.0,0,0,0,2167.60
1747,4,TELD,70.0,6,6.0,TELD,70.0,0,0,1,2250.80
1748,2,TELD,45.0,8,4.0,TELD,45.0,0,0,0,2258.80
1749,3,IELD,50.0,7,1.0,IELD,50.0,0,0,0,2624.40

In [7]:
df_ROS_Analysis_Surgery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1750 entries, 0 to 1749
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Location of herniation  1750 non-null   int64
 1   수술기법                    1750 non-null   object
 2   수술시간                    1750 non-null   float64
 3   환자통증정도                  1750 non-null   int64
 4   통증기간(월)                 1750 non-null   float64
 5   수술기법                    1750 non-null   object
 6   수술시간                    1750 non-null   float64
 7   수술실패여부                  1750 non-null   int64
 8   재발여부                    1750 non-null   int64
 9   Instability             1750 non-null   int64
 10  디스크단면적                  1750 non-null   float64
dtypes: float64(4), int64(5), object(2)
memory usage: 150.5+ KB

In [8]:
df_ROS_Analysis_Surgery.describe()

,Location of herniation,수술시간,환자통증정도,통증기간(월),수술시간,수술실패여부,재발여부,Instability,디스크단면적
count,1750.000000,1750.000000,1750.000000,1750.000000,1750.000000,1750.000000,1750.000000,1750.000000,1750.000000
mean,2.326857,62.232571,6.882857,5.466800,62.232571,0.061714,0.115429,0.041714,1987.290937
std,0.985613,24.984299,2.115448,16.823744,24.984299,0.240705,0.319630,0.199993,311.792420
min,1.000000,5.000000,1.000000,0.000000,5.000000,0.000000,0.000000,0.000000,1145.800000
25%,2.000000,45.000000,7.000000,1.000000,45.000000,0.000000,0.000000,0.000000,1776.100000
50%,2.000000,60.000000,7.000000,2.000000,60.000000,0.000000,0.000000,0.000000,1985.800000
75%,3.000000,78.000000,8.000000,3.875000,78.000000,0.000000,0.000000,0.000000,2174.800000
max,5.000000,220.000000,10.000000,360.000000,220.000000,1.000000,1.000000,1.000000,3166.140000

In [10]:
df_ROS_Analysis_Surgery.describe(include='object')

        수술기법  수술기법
count   1750  1750
unique     2     2
top     TELD  TELD
freq    1614  1614