In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib as mpl
mpl.rc('font',family='Malgun Gothic')
mpl.rcParams['axes.unicode_minus'] = False

In [3]:
df_ROS_Analysis = pd.read_csv('../../../datasets/RecurrenceOfSurgeryAnalysis.csv')
df_ROS_Analysis.head(2)

,Unnamed: 0,고혈압여부,과거수술횟수,당뇨여부,신부전여부,심혈관질환,우울증여부,체중,신장,성별,...,수술기법,수술시간,환자통증정도,통증기간(월),수술기법.1,수술시간.1,수술실패여부,재발여부,Instability,디스크단면적
0,0,0,0,0,0,0,0,60.3,163,2,...,TELD,68.0,10,1.0,TELD,68.0,0,0,0,2048.5
1,1,0,0,0,0,0,0,71.7,171,1,...,TELD,31.0,10,1.0,TELD,31.0,0,0,0,1753.1

In [29]:
df_ROS_Analysis_Surgery = df_ROS_Analysis[['환자통증정도','통증기간(월)', 'Instability', '수술기법', '수술시간', '수술실패여부', '디스크단면적']]
df_ROS_Analysis_Surgery

      환자통증정도  통증기간(월)  Instability  수술기법  수술시간  수술실패여부   디스크단면적
0         10      1.0            0  TELD  68.0       0  2048.50
1         10      1.0            0  TELD  31.0       0  1753.10
2          7      1.0            0  TELD  78.0       0  1749.00
3          7      2.0            0  TELD  73.0       0  1796.20
4          7      1.0            0  TELD  29.0       0  2021.48
...      ...      ...          ...   ...   ...     ...      ...
1745       7     24.0            0  TELD  35.0       0  1813.00
1746       8     36.0            0  TELD  60.0       0  2167.60
1747       6      6.0            1  TELD  70.0       0  2250.80
1748       8      4.0            0  TELD  45.0       0  2258.80
1749       7      1.0            0  IELD  50.0       0  2624.40

[1750 rows x 7 columns]

In [30]:
df_ROS_Analysis_Surgery.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1750 entries, 0 to 1749
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   환자통증정도       1750 non-null   int64
 1   통증기간(월)      1750 non-null   float64
 2   Instability  1750 non-null   int64
 3   수술기법         1750 non-null   object
 4   수술시간         1750 non-null   float64
 5   수술실패여부       1750 non-null   int64
 6   디스크단면적       1750 non-null   float64
dtypes: float64(3), int64(3), object(1)
memory usage: 95.8+ KB

In [31]:
df_ROS_Analysis_Surgery.describe()

,환자통증정도,통증기간(월),Instability,수술시간,수술실패여부,디스크단면적
count,1750.000000,1750.000000,1750.000000,1750.000000,1750.000000,1750.000000
mean,6.882857,5.466800,0.041714,62.232571,0.061714,1987.290937
std,2.115448,16.823744,0.199993,24.984299,0.240705,311.792420
min,1.000000,0.000000,0.000000,5.000000,0.000000,1145.800000
25%,7.000000,1.000000,0.000000,45.000000,0.000000,1776.100000
50%,7.000000,2.000000,0.000000,60.000000,0.000000,1985.800000
75%,8.000000,3.875000,0.000000,78.000000,0.000000,2174.800000
max,10.000000,360.000000,1.000000,220.000000,1.000000,3166.140000

In [32]:
df_ROS_Analysis_Surgery.describe(include='object')

        수술기법
count   1750
unique     2
top     TELD
freq    1614